.desktopNav {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin: 1em 5vw;
  background: transparent;

  .logoContainer {
    padding: 1em 0;
    margin-right: 2em;
  }
  .languageSwticher {
    margin-left: auto;
    cursor: pointer;

    .active {
      color: #ff694a;
      transition: 0.3s;
      outline: none;
    }
    .langDivider {
      margin: 0 0.5em;
    }
  }

  div {
    padding: 0 40px;
    font-weight: bold;
    color: #212123;
  }

  @media (max-width: $sm) {
    display: none;
  }
}

.mobileNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $sm) {
    display: none;
  }

  .logoContainer {
    padding: 1em 0;
    margin-left: 2em;
  }
  .hamburgerMenu {
    padding: 2.1em 0 0 0;
    margin-right: 2em;
    transition: 0.7s;
  }
  .fullScreenMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 12;
    padding-top: 7em;
    background-color: $primaryColor;
    height: 100%;
    width: 100%;

    .closeMobNav {
      margin-bottom: 2em;
    }

    .menuText {
      p {
        font-weight: bold;
        font-size: 1.5em;
        color: $thirdTextColor;
        text-align: center;
      }
    }
  }
}
